<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>修改密码</title>
    <link rel="stylesheet" href="css/element-ui/index.css">
    <link rel="stylesheet" href="css/swiper.min.css">
    <link rel="stylesheet" href="css/common.css">
    <link rel="stylesheet" href="css/changePassword.css">

    <link rel="stylesheet" href="css/element-ui/index.css">
    <script src="./js/loadcommonjs.js"></script>
</head>
<body>
<div id="wrap">
    <canvas id="space"><a href="javascript:" id="warp" style="display: none;">WARP SPEED</a></canvas>

    <div id="fixed-top">
        <a href="javascript:" class="logo fl"><img src="images/commonLogo.png" alt=""></a>
        <div class="fixed-top-nav fl">
            <ul class="clf">
                <li v-for="item in menus" :class="[currPath == item.path? 'active' : '',  item.css]"><a :href="item.path"><span v-text="item.desc"></span></a></li>
            </ul>
        </div>
        <div class="fixed-top-operate fr">
            <div><a href="message.html"><img src="images/nav_iconEmail.png" alt=""></a></div>
            <div>
                <el-badge :value="amount" class="item">
                    <a href="alarmHistoryData.html"><img width="40" src="images/nav_iconWarn.png" alt=""></a>
                </el-badge>
            </div>
            <div>
                <a href="javascript:"><img src="images/nav_iconUser.png" alt=""></a>
                <div class="subMenu">
                    <ul>
                        <li><a href="changePassword.html">修改密码</a></li>
                        <li><a href="javascript:void(0)" @click="logout">退出登录</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>


    <div class="box">
        <a href="javascript:" class="closeBtn" onclick="history.back(-1)"><i class="iconfont icon-guanbi"></i></a>
        <h6 class="title">修改密码</h6>
        <form action="">
            <label for="ip1">当前密码<input type="password" v-model="oldPassword" id="ip1"></label>
            <label for="ip2">新 &nbsp;密&nbsp; 码<input type="password" v-model="newPassword" id="ip2"></label>
            <label for="ip3">确认密码<input type="password" v-model="newPassword1" id="ip3"></label>
            <a href="javascript:;" class="submit" @click="submitLogin">确认</a>
        </form>
    </div>



</div>
<script src="js/common.js"></script>
<script src="js/pages/header.js"></script>
<script>

    $(function () {
        var swiper = new Swiper('.healthManageSwiper', {
            loop: true,
            slidesPerView: 2,
            slidesPerGroup: 2,
            spaceBetween: 60,
            navigation: {
                nextEl: '.healthManageSwiper-next',
                prevEl: '.healthManageSwiper-prev'
            },
            pagination: {
                el: '.healthManageSwiper-pagination',
                clickable: true
            }
        });
    })

    new Vue({
        el: '.box',
        data: {
            loading: false,
            username: '',
            oldPassword: '',
            newPassword: '',
            newPassword1: '',
        },

        methods: {

            change: function () {
                drawPic(this, ctx, 92, 42);
            },

            submitLogin: function () {
                const that = this;

                if (this.oldPassword == "") {
                    that.$message({
                        message: "原密码不能为空",
                        type: 'error'
                    });
                    return
                }

                if (this.newPassword.length < 6) {
                    that.$message({
                        message: "新密码不能少于6个字符",
                        type: 'error'
                    });
                    return
                }

                if (this.newPassword !== this.newPassword1) {
                    that.$message({
                        message: "确认密码不一致",
                        type: 'error'
                    });
                    return
                }

                POST(URLs.changePassword, {
                    username: userinfo.username,
                    oldPassword: CryptoJS.enc.Base64.stringify(CryptoJS.enc.Utf8.parse(this.oldPassword)),
                    newPassword: CryptoJS.enc.Base64.stringify(CryptoJS.enc.Utf8.parse(this.newPassword))
                }).then(function (res) {
                    if (res.errcode !== 10001) {
                        that.$message({
                            message: res.msg,
                            type: 'error'
                        });
                    } else {
                        that.$message({
                            message: res.msg,
                            type: 'success'
                        });
			location.href="login.html"
                    }
                }).catch(function (error) {
                    console.log(error);
                });
            },
        }
    })

</script>
</body>
</html>
